<div class="pure-g">
  <div class="pure-u-1-1">
    <span class="pure-title"><strong><%= @current.name %></strong>, te toca pagar.</span>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-1">
    <img src="<%= @current.picture %>"/>
  </div>
</div>

<div class="pure-g">
  <div class="pure-u-1-1">
    <form action="/next" method="post">
      <input type="submit" class="pure-button pure-button-primary" value="¡Dicho y hecho!" />
    </form>
  </div>
</div>
