<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Who pays today?</title>
  
  <link rel="stylesheet" href="css/pure-min.css">
  <link rel="stylesheet" href="css/global.css">
  <script src="js/jquery-1.12.2.min.js"></script>
</head>

<body>
  <%= yield %>
</body>

</html>
