body {
  background-color: #E0E0E0;
}

.pure-g {
  margin: 15px 30px;
  text-align: center;
}

span.pure-title {
  font-size: 360%;
}

img {
  /*max-width: 300px;*/
  width: 90%;
  display: block;
  margin: 0 auto;

  border-radius: 40px;
}

input[type=submit] {
  display: block;
  margin: 20px auto;
  
  background-color: #53699C;
  font-size: 450%;
}